@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0px;
  padding: 0px;
}


#hero-landing {
  background-image: linear-gradient(240deg,rgba(12, 11, 11, 0.100), rgba(26, 20, 20, .900)), url(../../images//new-teeth.jpg);
  height: 100vh;
  font-family: Raleway;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  h2 {
    font-size: 60px;
    font-weight: 100;
  }
  h1 {
    font-size: 85px;
    font-weight: 200;
  }
  p {
    font-size: 20px;
  }
}

.hero-landing-content {
  margin-left: 2%;
  line-height: 1.6;
}

.social-links-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.social-links {
  font-size: 50px;
  color: white;
}

#bio-social-link-container {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.bio-social-links {
  color: black;
  font-size: 60px;
  margin-top: 25px;
}

#bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 2%;
  background-image: url(../../images/coolio.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 25px;
  font-family: Raleway;
}

#bio-writing {
  width: 50%;
  line-height: 1.5;
}

#bio-image-container {
  box-shadow: 8px 7px 5px black;
  border: solid 1px black;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#bio-image {
  width: 480px;
}

#technologiesContainer {
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  background-color: rgb(241, 241, 241);
  padding-top: 50px;
}

#technologiesHeaderContainer {
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  .fa-angle-left {
    position: relative;
    top: 30px;
    left: 7px;
    color: rgb(56,157,215);
    transform: rotate(-45deg)
  }
  .fa-angle-right {
    position: relative;
    bottom: 22px;
    right: 0px;
    color: rgb(56,157,215);
    transform: rotate(-45deg)
  }
}

#technologiesHeaderContent {
  // border-left: 2px rgb(56,157,215) solid;
  width: fit-content;
  padding-left: 0px;
}

#technologies {
  font-family: Montserrat;
  font-weight: 100;
  padding-bottom: 100px;
  // clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  // background-color: rgb(241, 241, 241);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    width: 200px;
  }
  .tech-icon-container {
    margin-top: 30px;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
}

#projects {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  // height: 225px;
}

#myProjectsHeader {
  font-family: Raleway;
  font-weight: 400;
  background-color: rgb(241,241,241);
  margin-top: 50px;
  text-align: center;
  font-size: 45px;
  padding: 10px 0px;
}

.project-card {
  border: solid 1px black;
  font-size: 18px;
  font-family: Raleway;
  border-radius: 10px;
  padding: 10px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .project-name {
    color: black;
    border-bottom: solid 1px black;
    margin-bottom: 8px;
    h2 {
      font-size: 28px;
      font-weight: 500;
    }
  }
  .project-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    .project-button {
      border: solid 1px black;
      background-color:rgb(56,157,215);
      color: white;
      border-radius: 3px;
      padding: 5px;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #bio {
    padding: 50px 30px;
  }

  #bio-writing {
    font-size: 20px;
  }

  #bio-image {
    width: 375px;
  }
}

@media only screen and (max-width: 950px) {
  #technologies {
    padding-bottom: 200px;
    .tech-icon-container {
      width: 49%;
    }
  }

  .social-links-container {
    width: 30%;
  }

  #bio-social-link-container {
    width: 100%;
  }

  #bio {
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  #bio-writing {
    width: 100%;
    font-size: 22px;
  }

  #bio-image-container {
    margin-top: 25px;
  }

  #bio-image {
    width: 450px;
  }

  #bio-social-link-container {
    justify-content: space-evenly;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .social-links-container {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  #hero-landing {
    background-image: linear-gradient(240deg,rgba(12, 11, 11, 0.600), rgba(26, 20, 20, .900)), url(../../images//new-teeth.jpg);
    h2 {
      font-size: 45px;
      font-weight: 100;
      padding: 2px;
    }
    h1 {
      font-size: 65px;
      font-weight: 200;
    }
    p {
      font-size: 20px;
      padding: 10px;
    }
  }
  .hero-landing-content {
    text-align: center;
    margin: 0px;
  }
  .social-links-container {
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
  }

  #bio {
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  #bio-writing {
    width: 100%;
    font-size: 18px;
  }

  #bio-image-container {
    margin-top: 25px;
  }

  #bio-image {
    width: 250px;
  }

  #bio-social-link-container {
    justify-content: space-evenly;
    width: 100%;
  }

  #technologies {
    flex-direction: column;
    clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 99%, 0 95%, 0 0);
    img {
      width: 200px;
    }
    .tech-icon-container {
      width: 100%;
    }
  }

  #projects {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    .project-card {
      width: 90%;
      margin-bottom: 25px;
    }
  }
}